# Question 3:

Apply two appropriate time series model to the data. Justify your choice relating it to the data that you have. Make one-step-ahead forecasts of the last 10 observations. Accompany the analysis with the appropriate visualisations that will help to identify trends/patterns/anomaly. Do some research and explain the challenges of forecasting. Summarise your findings and the efficiency of the model.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Q3-AirPassengers/AirPassengers.csv")

In [3]:
df.head()

     Month  #Passengers
0  1949-01          112
1  1949-02          118
2  1949-03          132
3  1949-04          129
4  1949-05          121